{% extends 'flatpages/default.html' %}
{% load custom_filters %} <!-- Подключаем фильтр цензуры -->
{% load custom_tags %}
{% load i18n %}
{% block title %}
	{% trans 'News' %} {{ one_news.pk }}
{% endblock title %}

{% block menu %}
    {% for one_news in all_news %}
        <li><a class="dropdown-item" href="/news/{{ one_news.pk }}">{{ one_news.title }}</a></li>
    {% endfor %}
{% endblock menu %}

{% block content %}
	<h4>{% trans 'Caption: ' %}</h4>{{ one_news.title|censorship }}</br> <!-- Цензура заголовков -->
    <h4>Текст: </h4>{{ one_news.text|censorship }}</br> <!-- Цензура текста новости -->
	<h4>{% trans 'Date of creation: ' %}</h4>{{ one_news.dateCreation|date:'H:i  d M Y' }}</br>
    <!-- Время и дата создания новости. Время, чтобы было видно, что работает сортировка, а то все новости в один день -->
	<h4>{% trans 'Rating: ' %}</h4>{{ one_news.rating }}</br>
	<h4>{% trans 'Category: ' %}</h4>{{ one_news.get_categoryType_display }}</br>  <!-- Выводим человеческое значение -->

{% endblock content %}