{% extends 'flatpages/default.html' %}

{% block title %}
    Posts
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <hr>
    {% if all_news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Краткое содержание</td>
            </tr>

            {% for one_news in all_news%}
                <tr>
                    <td>{{ one_news.title }}</td>
                    <td>{{ one_news.dateCreation|date:'d.m.Y' }}</td>
                    <td>{{ one_news.text|truncatechars:20 }}</td>
                </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}