{% extends 'flatpages/default.html' %}
{% load custom_filters %} <!-- Подключаем фильтр цензуры -->
{% block title %}
    Новости
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <hr>
    {% if all_news %}
        <table>
            <tr>
                <td style="text-align: center;">Заголовок</td>
                <td style="text-align: center; width: 300px;">Дата публикации</td>
                <td style="width: 300px;">Краткое содержание</td>
            </tr>

            {% for one_news in all_news %}
                <tr>
                    <td><a href="/news/{{ one_news.pk }}">{{ one_news.title|censorship }}</td>
                    <!-- Цензура заголовков -->
                    <td style="text-align: center; width: 300px;">{{ one_news.dateCreation|date:'d.m.Y' }}</td>
                    <td style="width: 300px;"><a
                            href="/news/{{ one_news.pk }}">{{ one_news.text|truncatechars:20|censorship }}</td>
                    <!-- Цензура текста новостей -->
                </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Новостей нет!</h2> <!-- Если новостей нет, так и напишем -->
    {% endif %}
{% endblock content %}