{% extends 'flatpages/default.html' %}

{% block title %}
    Posts
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <!-- Используем переданную из представления переменную time_now
    и применяем к ней фильтр date. По назначению этот фильтр очень похож
    на метод strftime у объекта datetime в Python — вывод времени
    в указанном формате. -->
{#    <h3>{{ time_now|date:'d mm Y' }}</h3>#}
    <hr>
    {% if all_news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Краткое содержание</td>
{#                <td>Категория</td>#}
{#                <td>Автор</td>#}
{#                <td>Рейтинг</td>#}
            </tr>

            {% for one_news in all_news %}
                <tr>
                    <td>{{ one_news.title }}</td>
                    <td>{{ one_news.dateCreation|date:'d/m/Y' }}</td>
                    <td>{{ one_news.text|truncatechars:20 }}</td>
{#                    <td>{{ one_news.postCategory }}</td>#}
{#                    <td>{{ one_news.author }}</td>#}
{#                    <td>{{ one_news.rating }}</td>#}
                </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}