{% extends 'flatpages/default.html' %}
{% load custom_filters %} <!-- Подключаем фильтр цензуры -->
{% load custom_tags %}
{% block title %}
	Категории новостей
{% endblock title %}

{% block content %}

	{% if is_not_subscribed %}
		<p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sn">Подписаться</a>
		</p>
	{% endif %}
	<ul class="list-group list-group-flush">
		{% for one_news in category_news_list %}
			<li class="list-group-item">
			<small class="fw-bold">{{ one_news.dateCreation|date:'d.m.Y' }}</small>
			<a href="{% url 'one_news' one_news.id %}">{{ one_news.title }}</a>
			<small class="text-muted">(автор: {{ one_news.author }})</small><br>
			<small class="fw-bold">категории:
				{% for category in one_news.category.all %}
					<a href="{% url 'category_list' category.pk %}">{{ category }}
				{% endfor %}
			</small>
		{% endfor %}

		{% if page_obj.has_previous %}
			<a href="?{% url_replace page=1 %}">1</a>
			{% if page_obj.previous_page_number != 1 %}
				...
				<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
			{% endif %}
		{% endif %}

		{{ page_obj.number }}

		{% if page_obj.has_next %}
			<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
			{% if paginator.num_pages != page_obj.next_page_number %}
				...
				<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
			{% endif %}
		{% endif %}

{% endblock content %}