<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Уведомление о новостях</title>
</head>
<body>
<h1>Уведомление о новостях</h1>
<p>Уважаемый подписчик,</p>
<p>У нас есть интересные новости для вас:</p>
<p>{{ news.title }}</p>
<p>{{ news.preview }}</p>
<p>Чтобы прочитать полную новость, перейдите по <a href="{{ SITE_URL }}{% url 'one_news' news.id %}">ссылке:</a></p>
<p>Следите за обновлениями!</p>
<p>С уважением,</p>
<p>Ваша команда новостей</p>

</body>
</html>
