{% extends 'flatpages/default.html' %}
{% load custom_filters %} <!-- Подключаем фильтр цензуры -->
{% load custom_tags %}
{% block title %}
    News {{ one_news.pk }}
{% endblock title %}

{% block menu %}
    {% for one_news in all_news %}
        <li><a class="dropdown-item" href="/news/{{ one_news.pk }}">{{ one_news.title }}</a></li>
    {% endfor %}
{% endblock menu %}

{% block content %}
    <h4>Заголовок: </h4>{{ one_news.title|censorship }}</br> <!-- Цензура заголовков -->
    <h4>Текст: </h4>{{ one_news.text|censorship }}</br> <!-- Цензура текста новости -->
    <h4>Дата создания: </h4>{{ one_news.dateCreation|date:'H:i  d M Y' }}</br>
    <!-- Время и дата создания новости. Время, чтобы было видно, что работает сортировка, а то все новости в один день -->
    <h4>Рейтинг: </h4>{{ one_news.rating }}</br>
    <h4>Категория: </h4>{{ one_news.get_categoryType_display }}</br>  <!-- Выводим человеческое значение -->

{% endblock content %}